<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>98348725792-d6jir7one8u231ao07u77upm8o0fer43.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.98348725792-d6jir7one8u231ao07u77upm8o0fer43</string>
	<key>API_KEY</key>
	<string>AIzaSyChLuYF00bnjuCbbq4LdPxn1H0jV1ip0ho</string>
	<key>GCM_SENDER_ID</key>
	<string>98348725792</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sohaib.Procom18</string>
	<key>PROJECT_ID</key>
	<string>procom18-1fb2d</string>
	<key>STORAGE_BUCKET</key>
	<string>procom18-1fb2d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:98348725792:ios:d5067b1cbd70560e</string>
	<key>DATABASE_URL</key>
	<string>https://procom18-1fb2d.firebaseio.com</string>
</dict>
</plist>